body, h1, h2, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 29;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: #c21414;
}


header {
    background: #000000;
    color: #fff;
    padding: 22px 0;
    text-align: left;
        font-size: 20px
}

header h1 {
    margin: 0;
    font-size: 40px;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: #101010;
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
}

.about, .contact {
    padding: 20px 0;
}

.about {
    background: #101010;
}

.contact {
    background: #101010;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    background: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background: #000000;
}

footer {
    background: #101010;
    color: #101010;
    text-align: center;
    padding: 10px 0;
}

